body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: #198653;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

/* dekstop version */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid #198653;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}

/*workingspace*/
.workingspace {
    margin-top: 30px;
    text-align: center;
}

.workingspace img {
    height: 110%;
    width: 100%;
}

.workingspace h3 {
    font-size: 18px;
    color: black;
    font-weight: 200;
    margin: 30px 0;
}

.workingspace {
    text-align: left;
}

.galeri {
    background-color: #198653;
}

/*login*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.container {
    width: 100%;
    display: flex;
    max-width: 850px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0, 1);
}

.login {
    width: 400px;
}

form {
    width: 250px;
    margin: 60px auto;
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    border-top: 2px solid #198653;
}
p {
    text-align: center;
    margin: 10px;
}

.right img {
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #198653;
}
button:hover {
    background: rgba(214, 86, 64, 1);
}

@media (max-width: 880px) {
    .container {
        width: 100%;
        max-width: 750px;
        margin-left: 20px;
        margin-right: 20px;
    }

    form {
        width: 300px;
        margin: 20 auto;
    }

    .login {
        width: 400px;
        padding: 20px;
    }

    button {
        width: 100%;
    }

    .right img {
        width: 100%;
        height: 100%;
    }
}
